.item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(9, 255, 9);
    text-shadow: 1px 1px 2px rgb(175, 25, 25), 0 0 .5em blue, 0 0 0.2em blue;
    width: 50vw;
    height: 8vh;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    margin-bottom: 8px;
    text-align: center;
}